#sign_up_sheet{
    width:23rem;
    height:24rem;
    padding:2rem;
    background-color:#ffffff;
    box-shadow:0px 0px 13px -6px ;
    border-radius:10px;

}
.signup{
    margin-top:1em;
}
.header{
    font-size:2em;
}
body{
    height:100vh;
    background-color:#f6f6f6;
}
#border{
    justify-content: center;
    display:flex;
    position: fixed;
    top: 20%;
    left: 30%;
}
#user-input{
    flex-flow: wrap;
    display:flex;
}
.inputs{
    width:100%;
    margin-top:1rem;
    font-weight:bold;
}
input{
     width:100%;
    margin-top:.2rem;
    height:1.3rem;
 }
.description{
    margin-top:1.5rem;
}
label{
    margin-bottom:.2rem;
}
button{
        margin-left: 80%;
    margin-top: 2rem;
    padding: .4rem 1.15rem;
    border-radius: .3rem;
    background-color:#ff341e;
    color:white;
    font-weight:bold;
    border: none;
    outline: none;
    font-size: .6rem;

}